numpy>=1.26
soundfile>=0.12
pydub>=0.25
pyyaml>=6.0.1
tqdm>=4.66
rich>=13.7
huggingface-hub>=0.19
langdetect>=1.0.9

torch ; platform_system == "Darwin" and platform_machine == "arm64"
torchaudio ; platform_system == "Darwin" and platform_machine == "arm64"

whisperx
pyannote.audio>=3.3.2,<4.0.0
faster-whisper
psutil>=5.9
